In [6]:
import pandas

# bucket = 'sagemaker-bucket-ftj-1'
# data_key = 'train.csv'
# data_location = 's3://{}'.format(bucket, data_key)
data = pandas.read_csv('s3://sagemaker-bucket-ftj-1/train.csv')
data[:10]

,0,54,3,999,0.1,1,0.2,0.3,0.4,0.5,...,1.8,0.39,0.40,0.41,1.9,0.42,0.43,0.44,1.10,0.45
0,0,56,2,999,0,1,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
1,0,32,2,999,0,1,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
2,0,46,3,999,0,1,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
3,0,35,2,999,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
4,0,34,3,999,0,1,0,0,1,0,...,0,0,0,1,0,0,0,0,1,0
5,0,30,3,999,0,1,0,0,1,0,...,0,0,0,0,0,0,1,0,1,0
6,0,42,3,999,0,1,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
7,0,39,1,999,0,1,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
8,0,27,1,999,0,1,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0
9,0,62,1,999,1,1,0,0,1,0,...,0,0,0,1,0,0,0,1,0,0